<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Trip Planner</title>
	<link rel="stylesheet" href="assets/css/style.css">
	<script
 	 src="https://code.jquery.com/jquery-3.3.1.slim.js"
  	integrity="sha256-fNXJFIlca05BIO2Y5zh1xrShK3ME+/lYZ0j+ChxX2DA="
  	crossorigin="anonymous"></script>	
	</head>
	<body>
		<header class ="container">
			<h1>Travel Planner</h1>
			<nav>
				<a href="/">create</a>
				<a href="/">logout</a>
			</nav>
		</header>
		</div>
		<div class="container">
		{{{ body }}}
		</div>
	</body>
</html>
