<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Trip Planner</title>
<<<<<<< HEAD
	<link rel="stylesheet" href="assets/css/style.css">
	<script
 	 src="https://code.jquery.com/jquery-3.3.1.slim.js"
  	integrity="sha256-fNXJFIlca05BIO2Y5zh1xrShK3ME+/lYZ0j+ChxX2DA="
  	crossorigin="anonymous"></script>	
=======
	<link rel="stylesheet"	 href="assets/style.css">
>>>>>>> e24d0263cbc462c9010af4cfec1e0b045740669f
	</head>
	<body>
		<header class ="container">
			<h1>Travel Planner</h1>
			<nav>
				<a href="/">create</a>
				<a href="/">logout</a>
			</nav>
		</header>
		</div>
		<div class="container">
		{{{ body }}}
<<<<<<< HEAD
		</div>
=======
		<h1>Itinerary</h1>

	  <script
       src="https://code.jquery.com/jquery-3.3.1.js"
       integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
       crossorigin="anonymous">
     </script>
	  	<script src="js/api.js"></script>
			<script src="js/flight.js"></script>

			</script>

>>>>>>> e24d0263cbc462c9010af4cfec1e0b045740669f
	</body>
</html>
