

<h1>Search hotels and car rentals</h1>

   <form>
        <input type="text" id="hotel-search"> Hotel location
        <button type="button" id="search">Search!</button>
<div id="rentals">
        <input type="text" id="car-search">Car Location
        <button type="button" id="car">Search!</button>
        <input type="text" id="start-date">Start date
        <input type="text" id="end-date">End Date
        <input type="text" id="pickup-time">Pickup Time
        <input type="text" id="dropoff-time">Dropoff Time




        </div>
    </form>

    <div id="hotel-data">

    </div>


<div id="car-data">
</div>
