
<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
         Search Flights/Hotels!
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <form action="">
    Origin: <br>
        <input type="text" id="origin" name="origin"></br>
    Destination: <br>
        <input type="text" id="destination" name="destination"></br>
    Departure Date: <br>
        <input type="text" id="departure" name="departuredate"></br>
    Return Date: <br>
        <input type="text" id="return" name="returndate"></br>
    Adults: <br>
        <input type="text" id="adults" name="adults"></br>
    Children: <br>
        <input type="text" id="children" name="children"></br><br>
        </form>
        <button type="button" id="submitbutton">Search!</button>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Your Itineraries!
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
      </div>
    </div>
  </div>
   </form>

<div id="megadiv">
   <div id="itinerary_container"></div>

   <div id="itinerary_returning"></div>

   <div id="hotel-data"></div>
  <button type="button" id="confirmbutton">Search!</button>
</div>