
<h1>Search Flights/Hotels</h1>

<form action="">
    <h5>Search hotels and car rentals</h5>
    Origin: <br>
        <input type="text" id="origin" name="origin"></br>
    Destination: <br>
        <input type="text" id="destination" name="destination"></br>
    Departure Date: <br>
        <input type="text" id="departure" name="departuredate"></br>
    Return Date: <br>
        <input type="text" id="return" name="returndate"></br>
    Adults: <br>
        <input type="text" id="adults" name="adults"></br>
    Children: <br>
        <input type="text" id="children" name="children"></br><br>
    <!-- button 8=D -->
    <button type="button" id="submitbutton">Search!</button>
<div>
    <h5 id="test">Your Itineraries: <h5>
    <div id="itinerary_container"></div>
    <div id="itinerary_returning"></div>
    <div id="hotel-data"></div>
</div>

<div class="">
    <button type="button" id="confirmbutton">Search!</button>
</div>

<!-- <div id="rentals">
        <input type="text" id="car-search">Car Location
        <button type="button" id="submitbutton">Search!</button>
        <input type="text" id="start-date">Start date
        <input type="text" id="end-date">End Date
        <input type="text" id="pickup-time">Pickup Time
        <input type="text" id="dropoff-time">Dropoff Time


        </div> -->
    </form>
