<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Trip Planner</title>
	<script
 	 src="https://code.jquery.com/jquery-3.3.1.slim.js"
  	integrity="sha256-fNXJFIlca05BIO2Y5zh1xrShK3ME+/lYZ0j+ChxX2DA="
  	crossorigin="anonymous"></script>	
	<link rel="stylesheet"	 href="assets/style.css">
	</head>
	<body>
		<h3>Travel Intinerary</h3>
		<nav>
			<a href="/">Home</a>
		</nav>

	<div class = "container">
		{{{ body }}}
		</div>
	</body>


</html>
